# stuff that gets installed in the remote heroku server
node_modules
# private info for dev purposes
dev.js
# all previous logs of index.js...
index_log1.js
# prev version of passport
passport_then.js